{% extends "main/base.html" %}

{% load static %}

{% block content %}
    <div class="maincontent">
    	<h3 style="font-family: 'PT Sans', sans-serif;">{{genre.name}}</h3>
        <hr>
    	<p style="font-family: 'Nunito', sans-serif;">Number of Books shelved:&nbsp;{{count}}</p>
    	<table width="1200px" cellpadding="30px" cellspacing="5" border="5px black solid">
        <tr style="font-family: 'Courgette', cursive;
font-family: 'Playfair Display', serif;">
            <th>&nbsp;Cover</th>
            <th>&nbsp;Title</th>
            <th>&nbsp;Author</th>
            <th>&nbsp;ISBN</th>
            <th>&nbsp;Amazon Store</th>
            <hr>
        </tr>
        {% for book in genre.genred.all  %}
            <tr> 
                    {% load static %}
                <td><a href="{{book.get_absolute_url}}"><img src='{% static book.image.url %}' height="90px" width="90px"></a></td>
                <td style="font-family: 'Poppins', sans-serif;
               font-family: 'Lato', sans-serif;"><a href="{{book.get_absolute_url}}">&nbsp;{{book.title}}</a><br>
                    <small>
                        {% for g in book.genre.all %}
                    <span style="font-family: 'Courgette', cursive; color: rgb(100,55,0)"><a href="{{g.get_absolute_url}}">&nbsp;{{g.name}}&nbsp;</a></span>
                {%endfor%}
                    </small>
                </td>
                {% for a in book.author.all %}
                    <td style="font-family: 'Poppins', sans-serif;"><a href="{{a.get_absolute_url}}">&nbsp;{{a.name}}</a></td>
                {%endfor%}
                <td>{{book.isbn}}</td>
                <td>&nbsp;</strong><br>&nbsp;<a href="{{book.amazon}}"><img src="{% static 'images/amazon.png' %}" width="30px" height="30px"></a></span></td>
            </tr>
            
        {% endfor %}
</table>
    </div>
{% endblock content %}